astunparse==1.6.3
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///C:/ci/cryptography_1639414720302/work
future @ file:///C:/ci/future_1607568713721/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1649782970434/work
Pillow==9.1.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
PyYAML==6.0
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
torch~=1.8.1+cpu
torchaudio
torchvision~=0.9.1+cpu
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///C:/ci/urllib3_1650639883891/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
tonic~=1.0.19

numpy~=1.21.5
matplotlib~=3.5.2
snntorch~=0.5.1
IPython~=8.3.0
opencv-python
scikit-image~=0.16.2

tensorflow~=2.3.0
scipy~=1.8.0
keras~=2.4.3
tqdm~=4.64.0
scikit-learn~=1.0.2
imgaug~=0.4.0
beautifulsoup4~=4.11.1
soupsieve~=2.3.1
defusedxml~=0.7.1
cffi~=1.15.0
future~=0.18.2
zlib~=1.2.11
pip~=22.1
wheel~=0.37.1
brotli~=1.0.9
openssl~=1.1.1o
cryptography~=36.0.0
tornado~=6.1
typing_extensions~=4.1.1
rsa~=4.7.2
pyasn1~=0.4.8
pyzmq~=22.3.0
colorama~=0.4.4
six~=1.16.0
gast~=0.4.0
h5py~=2.10.0
parso~=0.8.3
jedi~=0.18.1
packaging~=21.3
attrs~=21.4.0
pywin32~=302
pandas~=1.4.2
wrapt~=1.13.3
requests~=2.27.1
cython~=0.29.28
setuptools~=61.2.0
pytz~=2022.1
numba~=0.55.1
dataclasses~=0.8
blas~=1.0
webencodings~=0.5.1
bleach~=4.1.0
pygments~=2.12.0
cachetools~=4.2.2
urllib3~=1.26.9
aiohttp~=3.8.1
imageio~=2.9.0
markupsafe~=2.0.1
winpty~=0.4.3
debugpy~=1.5.1
traitlets~=5.1.1
decorator~=5.1.1
tifffile~=2020.10.1
testpath~=0.5.0
backcall~=0.2.0
stack_data~=0.2.0
pickleshare~=0.7.5
jupyter_client~=7.2.2
wcwidth~=0.2.5
shapely~=1.8.2
pooch~=1.6.0
networkx~=2.7.1
qt~=5.12.9
python-dateutil~=2.8.2
markdown~=3.3.4
yaml~=0.2.5
nbformat~=5.3.0
nbclient~=0.5.13
nbconvert~=6.4.4
jupyter_core~=4.10.0
jsonschema~=4.4.0
notebook~=6.4.11
ipython_genutils~=0.2.0
prometheus_client~=0.13.1
jinja2~=3.0.3
send2trash~=1.8.0
terminado~=0.13.1
oauthlib~=3.1.0
blinker~=1.4
idna~=3.3
werkzeug~=2.0.3
asttokens~=2.0.5
executing~=0.8.3
fonttools~=4.33.3
freetype~=2.10.4
ipykernel~=6.9.1
pandocfilters~=1.5.0
mistune~=0.8.4
python~=3.8.12
entrypoints~=0.4
jupyterlab_pygments~=0.1.2
pyparsing~=3.0.8
pure_eval~=0.2.2
pycparser~=2.21
pyrsistent~=0.18.0
importlib_resources~=5.2.0
cycler~=0.11.0
kiwisolver~=1.4.2
opt_einsum~=3.3.0
tensorboard~=2.4.0
termcolor~=1.1.0
fsspec~=2022.2.0
zipp~=3.8.0
click~=8.0.4
pycocotools~=2.0